#root {
  max-width: 1920px;
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
  height: 100%;
  /*height: 1000px;*/

}

html, body, .app {
    height: 100%
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#printing-list {
    width: 220px;
    border-top: 2px #000 solid;;
}

#printing-list > div {
    /*width: 216px;*/
    text-align: center;
    background-color: #FFF;
    border: 2px black solid;
    /*margin-bottom: 0px;*/
    height: 152px;
}

#printing-list > div > img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    /*border: 1px #000 solid;*/
}

#printing-list > div > canvas {
    width: 150px;
    height: 150px;
    object-fit: contain;
    /*border: 2px #000 solid;*/
}

#printing-list > div.active {
    border: 2px red solid;
}

/*#printing-list > div.active > div canvas {*/
/*    width: 148px;*/
/*    height: 148px;*/
/*}*/
